body {
    background-color: #d5dfff;
    color: orange;
    text-align:center;
    font-size: 17px;
    font-family: georgia;
}
header {
      backgroud-color: pink;
      border: 2px dashed blue;
      padding-top: 50px;
      margin: 30px;
      }
      
      nav{background-color: yellow;
}
     .caja{background-color: brown;}
     footer{background-color:red;
        
    }